body{
    background: #222022;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.spinner{
    width: 60px ;
    height: 60px;
    border: 6px solid #ccc;
    border-top-color: #00e5ff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); }
}
